<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Formulario Ordenes de Compra</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

	<div class="container mt-4">
		<div class="coll-sm-4">
			<form th:action="@{/guardarOrden}" th:object=${ordenCompra}  method="POST">
				<div class="card">
					<div class="container justify-content-center">
						<h3>FORMULARIO ORDENES DE COMPRA</h3>
					</div>
					<div class="container justify-content-center">
						<div class="container justify-content-center">
							<label>Id Orden</label>
							<div class="col-md-8">
								<div class="input-group mb-3"> 
									<input th:field="*{idOrden}" type="text" class="form-control input-text" disabled="disabled" />
								</div>
							</div>
						</div>

						<div class="container justify-content-center">
							<label>Cantidad</label>
							<div class="col-md-8">
								<div class="input-group mb-3"> 
									<input th:field="*{cantidad}" type="text" class="form-control input-text"/>
								</div>
							</div>
						</div>
						<div class="container justify-content-center">
							<label>Valor Compra</label>
							<div class="col-md-8">
								<div class="input-group mb-3"> 
									<input th:field="*{valorCompra}" type="text" class="form-control input-text"/>
								</div>
							</div>
						</div>

						<div class="container justify-content-center">
							<label>Cliente</label>
							<div class="row">
								<div class="col-md-8">
									<div class="input-group mb-3"> 
										<input th:field="*{cliente.idCliente}" type="text" class="form-control input-text" placeholder="Buscar Cliente..." aria-label="Recipient's username" aria-describedby="basic-addon2"/>
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search"></i>
											</button> 
									</div>
								</div>
							</div>
						</div>

						<div class="container justify-content-center">
							<label>Producto</label>
							<div class="row">
								<div class="col-md-8">
									<div class="input-group mb-3"> 
										<input th:field="*{producto.idProducto}" type="text" class="form-control input-text" placeholder="Buscar Producto..." aria-label="Recipient's username" aria-describedby="basic-addon2"/>
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search"></i>
											</button> 
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="container justify-content-center">
						<input type="submit" value="Guardar" class="btn btn-success"/>
					</div>				
				</div>
			</form>
		</div>
	</div>
</body>
</html>